<header class="header">
    <div>
      <a href="/">Restaurants</a>
    <% if (user?.role === 'admin') { %>
        <a href="/restaurants/new">Add Restaurant</a>
    <% } %>
    </div>
    <div>

      <% if (user) { %>
        <a href="/auth/sign-out">Logout</a>
        <a href="/auth/profile"><%= user.username %></a>
      <% } else { %>
        <a href="/auth/sign-in">Sign in</a>
        <a href="/auth/sign-up">Sign up</a>
      <% } %>
    </div>
  </header>