<header class="header">
    <div class="header-left">
      <a class="header-links" href="/">Restaurants</a>
    <% if (user?.role === 'admin') { %>
        <a class="header-links" href="/restaurants/new">Add Restaurant</a>
    <% } %>
    </div>
    <div class="header-right">

      <% if (user) { %>
        <a class="header-links" href="/auth/sign-out">Logout</a>
        <a class="header-links" href="/auth/profile"><%= user.username %></a>
      <% } else { %>
        <a class="header-links" href="/auth/sign-in">Sign in</a>
        <a class="header-links" href="/auth/sign-up">Sign up</a>
      <% } %>
    </div>
</header>
