<header class="header">
    <div>
      <a href="/">Back</a>
    </div>
    <div>

      <% if (user) { %>
        <a href="/auth/sign-out">Logout</a>
        <a href="/auth/profile"><%= user.username %></a>
      <% } else { %>
        <a href="/auth/sign-in">Sign in</a>
        <a href="/auth/sign-up">Sign up</a>
      <% } %>
    </div>
  </header>