<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restonauts | The homeworld of restaurant explorers</title>
    <link rel="stylesheet" href="/stylesheets/style.css"></link>
  </head>
  <body>
    <header class="header"><a href="/auth/sign-up">Sign up</a></header>
    <header class="header"><a href="/auth/sign-in">Sign in</a></header>
    <h1>RESTONAUTS</h1>
    <h2>The homeworld of restaurant explorers</h2>

  </body>
</html>