@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: rgb(201, 224, 249);
  font-family: "Exo", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: rgb(2, 137, 158);
  font-family: "Sixtyfour Convergence", sans-serif;
  font-size: 3.5em;
  margin-bottom: 0;
}

h2 {
  color: rgb(2, 137, 158);
}

h3 {
  color: rgb(2, 137, 158);
}

h4 {
  margin-bottom: 0;
}

.btn {
  background: rgb(2, 137, 158);
	color: #fff;
	border: 3px solid rgb(2, 137, 158);
  border-radius: 12px;
	padding: 8px 18px;
	font: inherit;
	cursor: pointer;
  text-decoration: none;
	outline: inherit;
  margin-bottom: 18px;
}

.btn:hover {
  background: rgba(2, 137, 158, 0.4);
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  margin: 18px;
}

.header-links {
  color: rgb(2, 137, 158);
  text-decoration: none;
  font-size: 20px;
  padding: 12px
}

.header-links:hover {
  color: rgba(2, 137, 158, 0.8);
}

.header-left,
.header-right {
  padding: 12px;
}

.header-restaurants {
  font-weight: 600;
  font-size: 34px;
}

.restaurants-title {
  margin: 150px 0 25px;
}

.button-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 18px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 3px solid rgb(2, 137, 158);
  border-radius: 24px;
  text-decoration: none;
  color: rgb(2, 137, 158);
  font-weight: 600;
  font-size: 18px;
}

.button:hover {
  background: rgba(2, 137, 158, 0.4);
}

.active {
  background: rgba(2, 137, 158, 0.5);
}

.card-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 18px;
  margin-bottom: 88px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border: 4px solid rgba(0, 0, 0, 0);
  width: 180px;
  height: 180px;
  color: white;
  border-radius: 12px;
  padding: 24px;
  text-decoration: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  background-origin: border-box;
}

.card:hover {
  border: 4px solid rgb(255, 255, 255);
}

a:link {
  text-decoration: none;
}

.card-name {
  text-decoration: none;
  font-size: 22px;
}

.page-restaurant {
  display: flex;
  width: 100%;
  max-width: 900px;
  flex-direction: column;
  align-items: center;
}

.restaurant-btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.restaurant-detailis {
  display: flex;
}

.restaurant-photo {
  border-radius: 22px;
}

.restaurant-photo-area {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16 / 9;
  width: 440px;
  border-radius: 22px;
  border: 3px solid rgb(2, 137, 158);
}

.restaurant-description {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 28px;
}

.restaurant-ratings {
  width: 100%;
}

.rating {
  margin-bottom: 24px;
}

.rating-title {
  display: block;
  font-weight: 600;
  font-size: 18px;
}

.btn-trash {
  background: none;
}

.rating-form {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  border: 2px solid rgb(2, 137, 158);
  border-radius: 12px;
}

.rating-form-element {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.rating-form-button {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 100%;
}

input[type=text],
input[type=password],
textarea {
  border-radius: 12px;
  padding: 8px 12px;
  border: 2px solid rgb(2, 137, 158);
  margin: 10px 0;
  font-size: 14px;
}

textarea {
  text-align: left;
}

input[type=text].input-name {
  text-align: center;
  font-size: 48px;
  width: 100%;
}

input[type=text].input-address {
  text-align: center;
  font-size: 24px;
  width: 100%;
}

.card-rating {
  text-decoration: none;
  font-size: 16px;
}

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url('../images/star-empty.svg');
  background-size: contain;
}

.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  background: url('../images/star-fill.svg');
  background-size: contain;
}

.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}

.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}

.star-rating i ~ i {
  width: 40%;
}

.star-rating i ~ i ~ i {
  width: 60%;
}

.star-rating i ~ i ~ i ~ i {
  width: 80%;
}

.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

::after,
::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.star-rating.star-5 {width: 250px;}
.star-rating.star-5 input,
.star-rating.star-5 i {width: 20%;}
.star-rating.star-5 i ~ i {width: 40%;}
.star-rating.star-5 i ~ i ~ i {width: 60%;}
.star-rating.star-5 i ~ i ~ i ~ i {width: 80%;}
.star-rating.star-5 i ~ i ~ i ~ i ~i {width: 100%;}

.star-rating-show {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  height: 25px;
  overflow: hidden;
  position: relative;
  background: url('../images/star-empty.svg');
  background-size: contain;
}

.star-rating-show i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  background: url('../images/star-fill.svg');
  background-size: contain;
}

.checked {
  opacity: 1 !important;
}

.star-rating-show i ~ i {
  width: 40%;
}

.star-rating-show i ~ i ~ i {
  width: 60%;
}

.star-rating-show i ~ i ~ i ~ i {
  width: 80%;
}

.star-rating-show i ~ i ~ i ~ i ~ i {
  width: 100%;
}

::after,
::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.star-rating-show.star-5 {width: 125px;}
.star-rating-show.star-5 input,
.star-rating-show.star-5 i {width: 20%;}
.star-rating-show.star-5 i ~ i {width: 40%;}
.star-rating-show.star-5 i ~ i ~ i {width: 60%;}
.star-rating-show.star-5 i ~ i ~ i ~ i {width: 80%;}
.star-rating-show.star-5 i ~ i ~ i ~ i ~i {width: 100%;}

.form-auth {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 42px 0;
}

.auth-button {
  margin-top: 28px;
}
