<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Create a Restaurant</title>
</head>
<body>
  <%- include('../partials/_nav') %>
  <main class="page-restaurant">
    <form action="/restaurants" method="POST" enctype="multipart/form-data">
      <label for="name">Name:</label>
      <input class="input-name" type="text" name="name" id="name" />

      <label for="address">Address:</label>
      <input class="input-address" type="text" name="address" id="address" />

      <div class="restaurant-detailis">
        <div class="restaurant-photo-area">
          <input type="file" name="photo" id="photo" accept="image/*"/>
        </div>
        <div class="restaurant-description">

          <label for="description">Description:</label>
          <textarea rows="5" name="description" id="description"></textarea>

          <label for="country">Country:</label>
          <input type="text" name="country" id="country" />

          <label for="city">City:</label>
          <input type="text" name="city" id="city" />
        </div>
      </div>

      <div class="rating-form-button">
        <button class="btn" type="submit">Add Restaurant</button>
      </div>
    </form>
  </main>
</body>
</html>